<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <link rel="shortcut icon" href="/images/favicon_io/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/css/media-query.css">

    <link rel="stylesheet" href="/css/reset.css">

    <link rel="stylesheet" href="/css/reusable_class.css">
   
    <link rel="stylesheet" href="/css/default.css">

    <link rel="stylesheet" href="/css/main.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>
<body>
    <div class="header-wrapper">
        {{!-- <img src="/images/delivery_truck.png" alt="Delivery Truck" class="delivery_truck_image"> --}}
        <header class="header">
            <h1 class="hidden">Assignment 1 setup</h1>
            
            <nav class="navigation row" id="navigation">
                
                <a href="/"><img src="/images/amazon_logo.png" alt="Amazon Logo" class="navigation__website_logo"></a>

                <a href="/"><img src="/images/amazon_a_logo.png" alt="Amazon Logo" class="navigation__website_logo--mobile-view"></a>

                <ul class="navigation__ul-listing row" id="navigation__ul-listing">
                    <li><a href="/">Home</a></li>
                    <li><a href="/comingSoon" class="text-capitalize">deal store</a></li>
                    <li><a href="/comingSoon" class="text-capitalize">best sellers</a></li>
                    <li><a href="/product/productListing" class="text-capitalize">products</a></li>

                    {{#if sessioninfo}}
                        {{#if sessioninfo.user_admin}}
                            <li class="nav-items" id="nav-items"><a href="/users/dashboard" class="nav-item-links">Dashboard</a></li>
                        {{/if}}
                        <li class="nav-items" id="nav-items"><a href="/users/logout" class="nav-item-links">Logout</a></li>
                    {{else}}
                        <li><a href="/users/login" class="text-capitalize">Login</a></li>
                        <li><a href="/users/signUp" class="text-capitalize">Sign up</a></li>
                    {{/if}}

                    
                     <li><a href="/product/orderSummary" class="text-capitalize"><img src="/images/cart.png" alt="cart" class="cart-img"></a></li>
                </ul>
               
                 <section class="section-hamburger">
                    <h2 class="hidden">section-hamburger</h2>
                    <img src="/images/hamburger.png" alt="hamburger menu" class="hamburger-menu" id="hamburger-menu">
                </section>
 
            </nav>
            <section class="search row">
                <div class="search-input">
                    <input type="text" class="input_field-search" id="input-search"> 
                </div>
                <div class="search-button">
                    <input type="submit" value="Search" class="button-search">
                </div>
            </section>
        </header>
    </div> <!-- header-wrapper-->
    <main class="main">
            {{{body}}}
    </main>

    <footer class="footer">
        <section class="footer-section">
            <section class="foot_nav row">
                <img src="/images/amazon_a_logo.png" alt="Amazon Logo" class="footer_website_logo">
                <nav class="foot_navigation">
                    <ul class="foot_navigation__ul-listing">                                                           
                        <li><a href="/">Home</a></li>
                        <li><a href="/comingSoon" class="text-capitalize">deal store</a></li>
                        <li><a href="/comingSoon" class="text-capitalize">best sellers</a></li>
                        <li><a href="/productListing" class="text-capitalize">products</a></li>
                    </ul>
                </nav>

                <nav class="foot_navigation">
                    <ul class="foot_navigation__ul-listing">                                                           
                        <li><a href="#">Careers</a></li>
                        <li><a href="#" class="text-capitalize">amazon and our Planet</a></li>
                        <li><a href="#" class="text-capitalize">investor relations</a></li>
                        <li><a href="#" class="text-capitalize">press releases</a></li>
                    </ul>
                </nav>

                 <nav class="foot_navigation">
                    <ul class="foot_navigation__ul-listing">                 
                        <li><a href="#">sell on amazon</a></li>
                        <li><a href="#" class="text-capitalize">Sell Under Amazon Accelerator</a></li>
                        <li><a href="#" class="text-capitalize">Amazon Associates</a></li>
                        <li><a href="#" class="text-capitalize">Sell on Amazon Handmade</a></li>
                    </ul>
                </nav>

                <nav class="foot_navigation">
                    <ul class="foot_navigation__ul-listing">                 
                        <li><a href="#">Amazon.ca Rewards Mastercard</a></li>
                        <li><a href="#" class="text-capitalize">Shop with Points</a></li>
                        <li><a href="#" class="text-capitalize">Reload Your Balance</a></li>
                        <li><a href="#" class="text-capitalize">Gift Cards</a></li>
                    </ul>
                </nav>
            </section><!--Footer_nav-->


            <div class="social-media">
                <ul class="social-media__list row">
                    <li>
                        <a href="#" target="_blank" aria-label="A link to facebook profile">
                        <i class="fab fa-facebook-square social-media__icon" title="Click to view facebook profile"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#" target="_blank" aria-label="A link to instagram profile">
                        <i class="fab fa-instagram social-media__icon" title="Click to view instagram profile"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </footer>
    <script src="/js/script.js"></script>
</body>
</html>
