<section class="section-form">
    <h2 class="heading text-capitalize text-center">login</h2>
    <form action="post" class="form-login">
        <div class="form-login__inputbox">
            <label for="username" class="text-capitalize">username</label>
            <input type="text" id="username" class="form-login__input input_field" placeholder="Enter amazon username">
        </div>

        <div class="form-login__inputbox">
            <label for="password" class="text-capitalize">password</label>
            <input type="password" id="password" class="form-login__input input_field" placeholder="Enter amazon password">
        </div>

        <button value="submit" class="button">Submit</button>
    </form>
 </section> <!-- section form-->