<section class="section-product section-cart">
    <h2 class="text-center">Cart</h2>

     <section class="cart">

            <article class="product product-cart row">
                <div class="section-product-image">
                    <img src="/images/cart.png" alt="product image" class="product__image">
                </div>
                
                <div class="section-product-description">
                    <p><strong>Household sofa for drawing room</strong></p>
                    <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, voluptatibus</p>
                    <p class="cart-price">CDN$ 19.9</p>
                    <p class="instock">In Stock</p>
                    <p class="qty"><strong>Quanity:</strong> 8</p>
                </div>

                <div class="order-summary">
                    <strong>Order Summary</strong>

                    <div class="row">
                        <p>Items (12)</p>
                        <p>CDN$ 230</p>
                    </div>
                </div>
            </article> <!-- product section-product__row-->

            <article class="product row">
                <div class="section-product-button">
                     <button value="submit" class="button btn-add-cart">Place Order</button>
                </div>
                
                <div class="section-product-description">
                    <p class="cart-price">Order Total:</p>
                </div>

                <div class="order-summary">
                     <p class="cart-price">CDN$ 500</p>
                </div>
            </article> <!-- product section-product__row-->
    </section> <!-- row-->
</section> <!--section-product-->