<section class="section-product-table">
    <h2>All Orders</h2>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Photo</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      {{!-- <th scope="col">Description</th> --}}
      <th scope="col">Category</th>
      <th scope="col">Quantity</th>
      <th scope="col">Bestseller</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><img src="/images/house_interior/sofa/sofa_1.jpg" alt="" class="all-order-image"></td>
      <td>Sofa</td>
      <td>$ 200</td>
      <td>Home Appliance</td>
      <td>4</td>
      <td>yes</td>
      <td><a href="/product/editProduct">Edit</a> | <a href="#"> Delete</a></td>
    </tr>
  </tbody>
</table>

</section> <!-- section-product-table-->