<section class="section-product section-product-description">
    <h2 class="text-center">Product Description</h2>

     <section class="section-product-detail">
  
            <article class="product-description row">
    
                <section class="product-description-img">
                    <img src="/images/house_interior/sofa/sofa_1.jpg" alt="computer image" class="product__image">
                </section>   
                    <section>
                        <h3><strong>Sofa</strong></h3>
                        <p class="product--description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas libero architecto nemo, nulla quae illo animi</p>

                        <p>Price:  <span class="cart-price">CDN$ 19.20</span></p>

                        <p class="instock">In Stock</p>
                        <p class="qty"><strong>Quanity:</strong> 8</p>
                        <button value="submit" class="button btn-add-cart">Add to cart</button>
                    </section>
            </article> <!-- product section-product__row-->
    </section> <!-- row-->
</section> <!--section-product-->