<section class="section-dashboard">
    <h2 class="heading text-capitalize text-center">Welcome back!</h2>
    <section class="section-dashboard-row row">
        <article class="dashboard dashboard--1">
            All orders
        </article>

        <article class="dashboard dashboard--1">
            shipped orders
        </article>

         <article class="dashboard dashboard--1">
            in transit orders
        </article>

        <article class="dashboard dashboard--1">
            delivered orders
        </article>
    </section>
</section>