<section class="section-dashboard">
    <h2 class="heading text-capitalize text-center">Welcome back!</h2>
    <section class="section-dashboard-row row">
        <article class="dashboard dashboard--1">
            <a href="/product/allProducts" class="dasboard-anchor-links">All orders</a>
            
        </article>

        <article class="dashboard dashboard--1">
             <a href="/product/createProduct" class="dasboard-anchor-links">Create New Product</a>
        </article>

         <article class="dashboard dashboard--1">
             <a href="/product/allProducts" class="dasboard-anchor-links">Edit product</a>
        </article>

        <article class="dashboard dashboard--1">
            delivered orders
        </article>
    </section>
</section>